.cell.revealed {
  background: #fdf6e3;
}
.cell {
  background: #586e75;
  border: 0.5px solid #eee8d5;
  color: #93a1a1;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 28px;
  font-family: "Courier New", Courier, monospace;
  user-select: none;
}
